/* General */
body {
  font: 15px/1.5 "Oxygen Mono", monospace, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.container {
  width: 70%;
  margin: auto;
}
/* End of General */

/* Nav Bar */

nav {
  
  padding: 10px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  margin: auto;
  background-color: rgba(2, 2, 2, 0.8);
  z-index: 1;
}


header a {
  color: white;
  text-decoration: none;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  padding: 0 1.3em 0 1.3em;
}

header {
  color: #e9e6e0;
  min-height: 70px;
  font-size: 1.2em;
}

.logo {
  text-transform: uppercase;
  transition: all 0.4s ease;
  float: left;
  padding-left: 20px;
  cursor: pointer;
}


.logo h1 {
  margin: 0;
  font-weight: normal;
}


.logo:hover {
  transform: scale(.97);
  color: gray;
}


.navLinks {
  float: right;
  padding-top: 5px;
}

.navLinks li {
  list-style: none;
  transition: all 0.4s ease;
}

.navLinks li:hover {
  transform: scale(.97);
}

.navLinks li a {
  color: white;
  text-decoration: none;
  transition: all 0.4s ease;
}

.navLinks li a:hover {
  color: gray;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.4s ease;
}

.navActive {
  transform: translateX(0%) !important;
}

.toggleOpenClose .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleOpenClose .line2 {
  opacity: 0;
}

.toggleOpenClose .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* End of Nav Bar */

/* Landing Page */
#landing-page {
  height: 100vh;
  width: 100%;
  background: url(../imgs/background5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#landing-page__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(0, 0, 0);
  opacity: 0.45;
}
 
.landing-page__center-info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 300px;
  display: block;
}

.center-info__container {
  display: inline-block;
  width:100%;
  height: 100%;
  text-align: center;   
  position: relative;
}

.c-frame-tl {
    top: 0;
    left: 0;
    position: absolute;
    width: 25%;
    height: 25%;
    border-width: 10px;
    border-style: solid none none solid;
    border-color: black;
}

.c-frame-tr {
    top: 0;
    right: 0;
    position: absolute;
    width:25%;
    height:25%;
    border-width: 10px;
    border-style: solid solid none none;
    border-color: white;
}

.c-frame-br {
    bottom: 0;
    right: 0;
    position: absolute;
    width:25%;
    height:25%;
    border-width: 10px;
    border-style: none solid solid none;
    border-color: black;
}

.c-frame-bl {
    bottom: 0;
    left: 0;
    position: absolute;
    width:25%;
    height:25%;
    border-width: 10px;
    border-style: none none solid solid;
    border-color: white;
}

.center-info__container h1,
h2 {
  color: #e9e6e0;
  font-weight: normal;
  display: block;
}

.center-info-container__wrapper {
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
}

.center-info__container h1 {
 display: inline-block;
 margin: 0;
 font-size: 2.8em;
}

.center-info__container h2 {
  display: block;
  font-size: 1.6em;
  margin-top: 10px;
 }


#center-info__navigation a {
  text-decoration: none;
  color: #e9e6e0;
  border: solid 0.5px #e9e6e0;
  font-size: 1.2em;
  padding: 8px;
}

#git-btn {
  margin-right: 5%;
}

#center-info__navigation {
  margin-bottom: 7%;
} 

#landing-page__footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 70px;
}

#footer-container {
  padding: 10px;
  margin-top: 16px;
}
/* End of Landing Page */

/* My Work Page */

#nav-link-about-goto {
  min-height: 70px;
  position: relative;
}

#about-goto__container {
  position: absolute;
  left: 50%;
  bottom: 76%;
}

#nav-link-contact-goto {
  min-height: 70px;
  position: relative;
}

#contact-goto__container {
  position: absolute;
  left: 50%;
  bottom: 78%;
}

#portfolio-page {
  background: url(../imgs/wallpaper00.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#portfolio-page__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(0, 0, 0);
  opacity: 0.7;
}

#portfolio-page__container {
  height: 100%;
  color: #e9e6e0;
  position: inherit;
}

#portfolio-page__top-info h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 70px;
  font-weight: normal;
  margin-bottom: -17px;
}

#portfolio-page__top-info h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 17px;
  font-weight: normal;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%;
}

.project-description {
  text-align: justify;
}

.project-description h2 {
  text-align: start;
}

.margin-right {
  margin-right: 10%;
}

#project-item-1 {
  margin-top: 5%;
}

/* End of My Work Page */

/* About Me Page */

#about {
  background: url(../imgs/about-me-wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

#about-page__container {
  color: white;
  position: relative;
  width: 60%;
}

#about-page__top-info h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 70px;
  font-weight: normal;
}

.project-item:last-child {
  margin-bottom: 0;
  margin-top: 2%;
  padding-bottom: 5%;
}

#about-page__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(0, 0, 0);
  opacity: 0.9;
}

#contact-page {
  background: url(../imgs/contact-me-wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center;

  position: relative;
  height: 100%;
}

#contact-page__container {
  width: 60%;
  position: relative;
  padding-bottom: 100px;
  color: white;
}


#contact-page__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(0, 0, 0);
  opacity: 0.7;
}

#contact-page__top-info h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 70px;
  font-weight: normal;
}

#contact-page__description {
  color: white;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  border: 0;
  background: white;
  padding: 15px 25px;
  outline: none;
}

#first-text-field {
  margin-top: 5%;
}
.contact-form-text:focus {
  box-shadow: 0 0 8px 10px #111f2e;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

#contact-form__submit-btn {
  float: right;
  text-decoration: none;
  color: #e9e6e0;
  border: solid 0.5px #e9e6e0;
  font-size: 1.15em;
  padding: 8px;
  background-color: black;
  transition: 0.5s;
  cursor: pointer;
}

#contact-form__submit-btn:hover {
  background: rgb(255, 255, 255);
  color: black;
  font: bold;
}

#contact-form-container {
  display: block;
}



#main-footer {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
}

#main-footer p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.1em;
  font-weight: normal;
  
}

::placeholder {
    font: 14px/1.5 "Oxygen Mono", monospace, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

  @media (max-width: 1050px) {
        
    header li {
      display: inline;
      padding: 0 0.5em 0 0.5em;
    }

    #landing-page {
      height: 100vh;
      width: 100%;
      background: url(../imgs/background6.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      position: relative;
    }

    .center-info__container h1 {
      display: inline-block;
      margin: 0;
      font-size: 2.2em;
    }

    .center-info__container h2 {
      display: block;
      font-size: 1.5em;
      margin-top: 10px;
    }

    #portfolio-page__container {
      height: 100%;
      color: #e9e6e0;
      position: inherit;
      width: 85%;
    }
      
    #last-portfolio-item {
      padding-bottom: 0;
    }

    .margin-right {
      margin-right: 7%;
    }

    #about-page__container {
        width: 90%;
    }

    #contact-page__container {
      width: 85%;
      position: relative;
      padding-bottom: 100px;
    }
  }

  @media (max-width: 750px) {
    


    .project-item {
      flex-direction: column;
      margin-top: 15%;
      text-align: center;
      justify-content: center;
    }

    .project-description {
      text-align: justify;
      order: 2;
    }

    .project-description h2 {
      text-align: start;
    }

    .project-image {
      order: 1;
    }

        
    #project-item-1 {
      margin-top: 70px;
    }

    #last-portfolio-item {
      margin-top:  15%;
    }

    .margin-right {
      margin: 0;
    }

    .navLinks {
      position: absolute;
      right: 0px;
      height: 300px;
      top: 55px;
      background-color: rgb(0, 0, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      opacity: 0.8;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      padding-top: 0;
    }

    .navLinks li:first-child {
      border-top: 3px solid white;
    }

    .navLinks li {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      letter-spacing: 2px;
      font-size: 15px;
      height: 60px;
      padding: 0;
    }

    .navLinks li a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 10px;
    }

    .burger {
      display: block;
      float: right;
      margin-right: 20px;
      margin-top: 6.5px;
      cursor: pointer;
    }

  }

  @media (max-width: 500px) { 
    
    #landing-page {
      height: 100vh;
      width: 100%;
      background: url(../imgs/background8.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      position: relative;
    }
        
    .landing-page__center-info {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 320px;
      height: 230px;
      display: block;
    }

    .center-info__container h1 {
      display: inline-block;
      margin: 0;
      font-size: 1.6em;
    }

    .center-info__container h2 {
      display: block;
      font-size: 1.1em;
      margin-top: 10px;
    }

    #center-info__navigation a {
      text-decoration: none;
      color: #e9e6e0;
      border: solid 0.5px #e9e6e0;
      font-size: 0.9em;
      padding: 8px;
    }

    #portfolio-page__top-info h1 {
      font-size: 50px;
    }

    #about-page__top-info h1 {
      font-size: 50px;
    }

    #contact-page__top-info h1 {
      font-size: 50px;
    }

    #main-footer p {
      margin: 0;
      width: 100%;
      height: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      padding: 10px;
      font-size: 0.8em;
      font-weight: normal;
    }

  }

  

  @media (min-width: 1400px) { 
          
    .container {
      width: 55%;
      margin: auto;
    }

    #about-page__container {
      color: white;
      position: relative;
      width: 40%;
    }

    #contact-page__container {
      width: 40%;
      position: relative;
      padding-bottom: 100px;
      color: white;
    }

    .landing-page__center-info {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 650px;
      height: 350px;
      display: block;
    }

    .center-info__container h1 {
      display: inline-block;
      margin: 0;
      font-size: 3.3em;
    }

    .center-info__container h2 {
      display: block;
      font-size: 2.1em;
      margin-top: 10px;
    }

    #center-info__navigation a {
      text-decoration: none;
      color: #e9e6e0;
      border: solid 0.5px #e9e6e0;
      font-size: 1.4em;
      padding: 8px;
    }

  }


/***** KEYFRAMES / ANIMATIONS *****/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
