/* General */
body {
  font: 15px/1.5 "Oxygen Mono", monospace, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: auto;
}
/* End of General */

/* Nav Bar */
header a {
  color: white;
  text-decoration: none;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  padding: 0 1.3em 0 1.3em;
}

header {
  color: #e9e6e0;
  min-height: 70px;
  font-size: 1.2em;
}

#topBar {
  padding: 10px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  margin: auto;
  background-color: rgba(2, 2, 2, 0.8);
  z-index: 1;
}

#signature {
  float: left;
  padding-left: 20px;
}

#signature h1 {
  margin: 0;
  font-weight: normal;
}

header nav {
  float: right;
  padding-right: 30px;
  padding-top: 5px;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 70px;
}

#My-Work-Footer {
  padding: 10px;
  margin-top: 16px;
}

/* End of Nav Bar */

/* Landing Page */
#Home {
  height: 100vh;
  width: 100%;
  background: url(../imgs/background3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#Main-Intro-Box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.job-title {
  display: inline-block;
  background-color: rgba(24, 26, 26, 1);
  border: solid 4px #e9e6e0;
}

.job-title h1,
h2 {
  color: #e9e6e0;
  font-size: 2em;
  font-weight: normal;
  padding: 0.8em;
  padding: 0em 0.8em;
}

.job-title h1 {
  margin: 20px 0px 0.1px 0px;
  font-size: 250%;
}

.job-title h2 {
  margin: 0.1px 0px 30px 0px;
  font-size: 150%;
}

#Intro-Box-Buttons a {
  text-decoration: none;
  color: #e9e6e0;
  border: solid 0.5px #e9e6e0;
  font-size: 1.2em;
  padding: 8px;
}

#gitBtn {
  margin-right: 5%;
}

#Intro-Box-Buttons {
  margin-bottom: 7%;
}

/* End of Landing Page */

/* My Work Page */

#About-Link1 {
  min-height: 70px;
  position: relative;
}

#About-Link {
  position: absolute;
  left: 50%;
  bottom: 76%;
}

#Contact-Link1 {
  min-height: 70px;
  position: relative;
}

#Contact-Link {
  position: absolute;
  left: 50%;
  bottom: 78%;
}

#My-Work {
  background: url(../imgs/background8.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(0, 0, 0);
  opacity: 0.7;
}

#myWorkContainer {
  height: 100%;
  width: 70%;
  color: #e9e6e0;
  position: inherit;
}

#Top-Page h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 70px;
  font-weight: normal;
  margin-bottom: -17px;
}

#Top-Page h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 17px;
  font-weight: normal;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%;
}

.margin-right {
  margin-right: 10%;
}

#project-item-1 {
  margin-top: 5%;
}

/* End of My Work Page */

/* About Me Page */

#About {
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#About-Container {
  color: white;
  position: relative;
}

#About-title {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin-top: -40px; */
}

#About-title h1 {
  margin: 0;
  font-size: 70px;
  font-weight: normal;
}

#About-Container {
  width: 55%;
}

#abtPic {
  margin-right: 10%;
}

.project-item:last-child {
  margin-bottom: 0;
  margin-top: 2%;
  padding-bottom: 5%;
}

#Contact-Me {
  height: 200vh;
}
